img{
  height: 3rem;
  background-color: rgb(34, 8, 128);
  border-radius: 25%;
}
.contador{
  color: aqua;
  padding-left: 10px;
}
.main{
  color: rgb(0, 68, 255);
  display: flex;
  justify-content: center;
}