.contador img{
  height: 3rem;
  background-color: #000000;
  border-radius: 25%;
}
#root{
  background-color: #170131;
}
.contador{
  color: aqua;
  padding-left: 10px;
}

.card-body{
  background-color: #180461a8;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.detalles{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.card-title{
  text-align: center;
}
.main{
  color: rgb(248, 248, 248);
  display: flex;
  justify-content: center;
}

.listado{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.ItemCount{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.contador{
  color: #560b79;
  font-size: large;
  cursor:pointer
}

.boton-agregar{
  border-radius: 20px;
  background-color: #8400ff;
  justify-content: center;
}
.boton-agregar:hover{
  border: 3px solid #1d0347
}
.boton-detalle{
  border-radius: 20px;
  background-color: #8400ff;
}